#img {
  float: left;
  width: 230px;
  height: 230px;
  object-fit: cover;
  margin: 0 16px 0 0;
}

#container {
  width: 44.4%;
  display: table-cell;
  margin: 16px;
}

@media only screen and (max-width: 570px) {
  #container {
    width: 92%;
    margin: 16px;
  }

  #img {
    float: none;
    width: 100%;
    height: auto;
  }
}

#btn-text {
  color: #000;
}
