.column {
  margin: 0 16px;
}

section > h2 {
  padding-bottom: 16px;
  color: #b1b6b6 !important;
}

section > span {
  color: #777 !important;
}

ul, li {
  list-style: none;
}

.footer-url-txt {
  color: #777;
}

.footer-url-txt:hover {
  color: #2979ff;
}
